<!DOCTYPE html>
- var $project = "Tantrium"
mixin icon(ID, CLASS)
  if(!CLASS)
    svg.icon: use(xlink:href="assets/img/sprite.svg?"+ID)
  else
    svg(class=CLASS): use(xlink:href="assets/img/sprite.svg?"+ID)
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{$project} :: Wellcome
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap")
    link(rel="stylesheet", href="assets/css/style.min.css")
  body
    header.header
      .ctn
        .header__top
          a.auth(href="#loginform" data-show="popup") авторизация
          a.phone(href="tel:+79850681139") +7 (985) 068 11 39
          ul.phone__apps
            li: a(href="http://m.me/<PAGE_NAME>"): +icon('#mg')
            li: a(href="https://wa.me/+79850681139"): +icon('#wa')
        .header__wraper
          a.logo(href="./"): img(src="assets/img/logo.png", alt=$project)
          .header__content
            .nav: ul
              li: a(href="#cabinets") КАБИНЕТЫ
              li: a(href="#masters") МАСТЕРА
              li: a(href="#gallery") ГАЛЕРЕЯ
              li: a(href="#contacts") КОНТАКТЫ
            a.auth(href="#loginform" data-show="popup") авторизация
            a.btn.primary(href="#booking"): span бронирование
          .header__control: button.toggle: +icon('#mn')
    section.wellcome
      .ctn: .row
        .col.md-5: img.wellcome__img(src="assets/img/idol.png", alt="")
        .col.md-7
          // Этот блок показываем когда нет новостей
          //.wellcome__intro: p Тантра — это наука, которая изучает освобождение сознания посредством расширения, увеличения энергии. В тантрической системе существует множество методов, ведущих к расширению энергетических потоков. И сексуальные аспекты тантры представляют собой лишь малую часть этих методов. В большинстве методов используются «мантры» и «янтры» (священные звуки и формы), «пранаямы» (дыхательные практики) и различные виды медитаций.
          // .wellcome__intro скрываем когда есть новости
          .wellcome__carousel.owl-carousel
            -for(i=1;i<=3;i++)
              .news__item
                h3 Заголовок Новости!!!
                .item__body
                  a(href="").item__thumb: img(src="assets/img/th_cabinet_" + i + ".jpg", alt="")
                  .item__text
                    p Тантра — это наука, которая изучает освобождение сознания посредством расширения, увеличения энергии. В тантрической системе существует множество методов, ведущих к расширению энергетических потоков. И сексуальные аспекты тантры представляют собой лишь малую часть этих методов. В большинстве методов используются «мантры» и «янтры», «пранаямы» и различные виды медитаций.
                .item__footer: a.btn.primary(href=""): span подробнее ...
    section.disposer
      .ctn
        img(src="assets/img/ornament_3.svg", alt=$project).disposer__art
        .disposer__card
          .avatar(data-large="assets/img/disposer.jpg" data-name="Юлия Ворошнина" data-small="Арт-директор Пространства Тантриум"): img(src="assets/img/th_disposer.jpg", alt="Юлия Ворошнина")
          .name Юлия Ворошнина
          .position Арт-директор Пространства Тантриум
          .contacts
            ul.phone__apps
              li: a(href="tel:+79663803331"): +icon('#ph')
              li: a(href="https://wa.me/+79663803331"): +icon('#wa')
            a.phone(href="tel:+79663803331") +7(966) 380 33 31
    section#cabinets.section
      .ctn
        .section__header: h2: span кабинеты
        .section__subheader
          .text Для бронирования на день обратитесь по телефону
          .contacts
            ul.phone__apps
              li: a(href="tel:+79850681139"): +icon('#ph')
              li: a(href="https://wa.me/+79850681139"): +icon('#wa')
            a.phone(href="tel:+79850681139") +7 (985) 068 11 39
        .row
          .col.md-6.lg-3: .cabinet
            .cabinet__price 500 ₽/Час
            .cabinet__img(data-cabinet="assets/img/cabinet_1.jpg" data-name='КАБИНЕТ №1, "VIENNA"' data-small="500 ₽/Час"): img(src="assets/img/th_cabinet_1.jpg", alt="")
            .cabinet__art: img(src="assets/img/ornament_2.svg", alt=$project)
            .cabinet__body
              h4 КАБИНЕТ №1, "VIENNA"
              p Ковер, четыре мягких стула, два кресла, круглый стол, маркерная доска, чайный сервиз. 4-х секционный массажный стол.
            .cabinet__footer: a.btn.primary(href="#booking"): span бронирование
          .col.md-6.lg-3: .cabinet
            .cabinet__price 500 ₽/Час
            .cabinet__img(data-cabinet="assets/img/cabinet_2.jpg" data-name='КАБИНЕТ №2, "SANDAL"' data-small="500 ₽/Час"): img(src="assets/img/th_cabinet_2.jpg", alt="")
            .cabinet__art: img(src="assets/img/ornament_2.svg", alt=$project)
            .cabinet__body
              h4 КАБИНЕТ №2, "SANDAL"
              p Массажный кабинет. Массажный стол, мягкий ковер, низкий диван, стерео колонки.
            .cabinet__footer: a.btn.primary(href="#booking"): span бронирование
          .col.md-6.lg-3: .cabinet
            .cabinet__price 500 ₽/Час
            .cabinet__img(data-cabinet="assets/img/cabinet_3.jpg" data-name='КАБИНЕТ №3, "FUSION"' data-small="500 ₽/Час"): img(src="assets/img/th_cabinet_3.jpg", alt="")
            .cabinet__art: img(src="assets/img/ornament_2.svg", alt=$project)
            .cabinet__body
              h4 КАБИНЕТ №3, "FUSION"
              p Очень мягкий ковер, hi-fi система (6 колонок), большое зеркало (можно закрыть рулонной шторой), подушки, пледы. Массажный стол по запросу.
            .cabinet__footer: a.btn.primary(href="#booking"): span бронирование
          .col.md-6.lg-3: .cabinet
            .cabinet__price 800 ₽/Час
            .cabinet__img(data-cabinet="assets/img/cabinet_4.jpg" data-name='КАБИНЕТ №4, "ARAVIA"' data-small="800 ₽/Час"): img(src="assets/img/th_cabinet_4.jpg", alt="")
            .cabinet__art: img(src="assets/img/ornament_2.svg", alt=$project)
            .cabinet__body
              h4 КАБИНЕТ №4, "ARAVIA"
              p Сьют из двух комнат с душем. Очень мягкий ковер. Под ковром татами. Столик, два кресла.б подушки, пледы. HI-fi система. Массажный стол по запросу.
            .cabinet__footer: a.btn.primary(href="#booking"): span бронирование
    section#booking.section.booking
      .ctn
        img.booking__art.top(src="assets/img/ornament_2.svg", alt=$project)
        img.booking__art.bottom(src="assets/img/ornament_2.svg", alt=$project)
        .section__header: h2: span Бронирование
        .section__subheader
          .row: .col.lg-8.md-10
            p Чтобы самостоятельно бронировать кабинет, необходимо <a href="#registerform" data-show="popup">зарегистрироваться</a>.
            p Затем позвоните по номеру телефона <a href="tel:+79850681139">+79850681139</a> администратору и подтвердите свои намерения.
        .booking__header
          .booking__calendar
            .btn.primary
              a.prev: +icon('#ap')
              span.text Воскресенье 02.08
              a.next: +icon('#an')
          .contacts
            a.phone(href="tel:+79850681139")
              small бронированиe на день
              span +7 (985) 068 11 39
            ul.phone__apps
              li: a(href="tel:+79850681139"): +icon('#ph')
              li: a(href="https://wa.me/+79850681139"): +icon('#wa')
        .booking__table: table
          thead: tr
            th &nbsp;
            td
              small КАБ. №1
              span VIENNA
            td
              small КАБ. №2
              span SANDAL
            td
              small КАБ. №3
              span FUSION
            td
              small КАБ. №4
              span ARAVIA
          tbody
            tr
              th 07:00
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
            tr
              th 08:00
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
            tr
              th 09:00
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
              td
                a.book(href="").half-start
                  +icon('#ch')
                  span.text бронировать
                span.busy.half-end
                  +icon('#ch')
                  span.text занято
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
            tr
              th 10:00
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
              td: span.busy
                +icon('#ch')
                span.text занято
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
            tr
              th 11:00
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
              td: span.busy
                +icon('#ch')
                span.text занято
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
            tr
              th 12:00
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
              td
                span.busy.half-start
                  +icon('#ch')
                  span.text занято
                a(href="").book.half-end
                  +icon('#ch')
                  span.text бронировать
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
            tr
              th 13:00
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
            tr
              th 14:00
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
            tr
              th 15:00
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
            tr
              th 16:00
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
            tr
              th 17:00
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
            tr
              th 18:00
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
            tr
              th 19:00
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
            tr
              th 20:00
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
            tr
              th 21:00
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
            tr
              th 22:00
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
            tr
              th 23:00
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
              td: a(href="").book
                +icon('#ch')
                span.text бронировать
    section#masters.section
      .ctn
        .section__header: h2: span мастера
        .row
          .col.md-6: .master
            .master__header
              .master__img(data-master="assets/img/master_1.jpg" data-name='Александр Коган' data-small="5500 ₽/2,5 часа"): img(src="assets/img/th_master_1.jpg", alt="")
              .master__body
                .master__name Александр Коган
                .master__tags: ul
                  li: span.tag #массаж
                  li: span.tag #психолог
                .master__price 5500 ₽/2,5 часа
            .master__info
              span.counter: span 
              p Тантра, мистическое и заманчивое слово. Чтоже это? Тантру практически не возможно описать словами, но тантру можно прочувствовать и осознание прийдет к вам...
              .likes
                +icon('#like')
                span 574
              a.btn.primary(href=""): span Читать далее ...
          .col.md-6: .master
            .master__header
              .master__img(data-master="assets/img/master_2.jpg" data-name='Анна Ахматова' data-small="5500 ₽/2,5 часа"): img(src="assets/img/th_master_2.jpg", alt="")
              .master__body
                .master__name Анна Ахматова
                .master__tags: ul
                  li: span.tag #массаж
                  li: span.tag #психолог
                .master__price 7250-8000 ₽/ 2,5 часа
            .master__info
              span.counter
              p Друзья, приглашаю вас на сессию тантрического массажа, который включает в себя различные методы и техники ( лаосские техники, аюрведический йога массаж, расслабление суставов и многое другое)...
              .likes
                +icon('#like')
                span 574
              a.btn.primary(href=""): span Читать далее ...
        .section__footer: a.btn.primary(href=""): span все мастера
    section#gallery.section
      .ctn
        .section__header: h2: span галерея
        .row
          .col.xs-6.sm-6.lg-3: a.thumb(href="assets/img/gallery_1.jpg" data-name='Название фото' data-small="TANTRIUM"): img(src="assets/img/th_gallery_1.jpg", alt="TANTRIUM")
          .col.xs-6.sm-6.lg-3: a.thumb(href="assets/img/gallery_2.jpg" data-name='Название фото' data-small="TANTRIUM"): img(src="assets/img/th_gallery_2.jpg", alt="TANTRIUM")
          .col.xs-6.sm-6.lg-3: a.thumb(href="assets/img/gallery_3.jpg" data-name='Название фото' data-small="TANTRIUM"): img(src="assets/img/th_gallery_3.jpg", alt="TANTRIUM")
          .col.xs-6.sm-6.lg-3: a.thumb(href="assets/img/gallery_4.jpg" data-name='Название фото' data-small="TANTRIUM"): img(src="assets/img/th_gallery_4.jpg", alt="TANTRIUM")
          .col.xs-6.sm-6.lg-4: a.thumb(href="assets/img/gallery_5.jpg" data-name='Название фото' data-small="TANTRIUM"): img(src="assets/img/th_gallery_5.jpg", alt="TANTRIUM")
          .col.xs-12.sm-6.lg-4.last_on_sm: a.thumb(href="assets/img/gallery_7.jpg" data-name='Название фото' data-small="TANTRIUM"): img(src="assets/img/th_gallery_7.jpg", alt="TANTRIUM")
          .col.xs-6.sm-6.lg-4: a.thumb(href="assets/img/gallery_6.jpg" data-name='Название фото' data-small="TANTRIUM"): img(src="assets/img/th_gallery_6.jpg", alt="TANTRIUM")
    footer#contacts.footer
      .ctn: .row
        .col.lg-4.md-5.sm-6: .footer__contacts
          img(src="assets/img/logo.png", alt=$project)
          ul.contacts
            li
              small.label Адрес:
              span.text Москва, Ленинградское шоссе, д.17/1
              small.info Вход со двора
            li.phone
              span
                small.label телефон:
                a.call(href="tel:+79850681139") +7 (985) 068 11 39
              a.wa(href="https://wa.me/+79850681139"): +icon('#wa')
            li
              small.label почта:
              a.mail(href="mailto:info@tantrium.ru") info@tantrium.ru
          a.btn.primary(href="#contactform" data-show="popup"): span написать нам
          ul.social
            li: a(href="" target="_blank"): +icon('#vk')
            li: a(href="" target="_blank"): +icon('#fb')
            li: a(href="" target="_blank"): +icon('#ig')
        .col.lg-8.md-7.sm-6: .footer__map
          #map
          script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLa52E3EJeehDidU_gDBx4B4NMzh01hiY")
      .footer__bottom
        .ctn: .row
          .copy © 2020 <a href="./">TANTARIUM</a> Все права защищены.
          .nav: ul
            li: a(href="") Политика безопасности
            li: a(href="") Пользовательское соглашение
            li: a(href="") Способы оплаты
    form#contactform.modal.mfp-hide
      .modal__header: span написать нам
      .modal__body
        .row
          .col.sm-6: .form__input
            label Ваше Имя
            input(type="text" name="fname")
          .col.sm-6: .form__input
            label Ваша Фамилия
            input(type="text" name="lname")
          .col.sm-6: .form__input
            label Ваш телефон
            input(type="tel" name="phone")
          .col.sm-6: .form__input
            label Ваша почта
            input(type="email" name="mail")
          .col.sm-12: .form__input
            label Текст сообщения
            textarea(name="message", cols="30", rows="10")
      .modal__footer: button(type="submit").btn.dark Отправить
    form#loginform.modal.mfp-hide.sm
      .modal__header: span Вход
      .modal__body
        .form__center
          a(href="#registerform" data-show="popup") Создать аккаунт
        .form__input
          label Логин
          input(type="email" name="mail")
        .form__input
          label Пароль
          input(type="password" name="pass")
        .form__left
          a(href="#forgotform" data-show="popup") Забыли пароль?
      .modal__footer: button(type="submit").btn.dark Отправить
    form#registerform.modal.mfp-hide.sm
      .modal__header: span Регистрация
      .modal__body
        .form__center
          a(href="#loginform" data-show="popup") Уже зарегистрированы?
        .form__input
          label Ваше Имя
          input(type="text" name="fname")
        .form__input
          label Ваша Фамилия
          input(type="text" name="lname")
        .form__input
          label Ваш телефон
          input(type="tel" name="phone")
        .form__input
          label Ваша почта
          input(type="email" name="mail")
      .modal__footer: button(type="submit").btn.dark Отправить
    form#forgotform.modal.mfp-hide.sm
      .modal__header: span Сброс пароля
      .modal__body
        .form__center на указанную вами почту придёт письмо для сброса пароля
        .form__input
          label Ваша почта
          input(type="email" name="mail")
      .modal__footer: button(type="submit").btn.dark Отправить
    // SCRIPTS
    script(src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous")
    script(src="assets/js/app.min.js")
