@import "./lib/normalize";
@import "./lib/mixins";
@import "./lib/vars";
@import "./lib/grid";
@import "./lib/carousel";
@import "./lib/popup";

@import "./lib/globals";
@import "./lib/masters";
@import "./lib/master";
@import "./lib/cabinet";
.master {
  margin-bottom: 60px;

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  &__img {
    margin: 0 20px;
    flex: none;
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
    border: 4px solid $sec;
    background-color: $blk;
    cursor: pointer;

    &:hover {
      border-color: $prm;
      img {
        opacity: 0.5;
      }
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.15s linear;
    }
  }

  &__name {
    font-size: 24px;
    font-weight: 300;
  }

  &__price {
    font-size: 14px;
    font-weight: 500;
    color: $prm;
  }

  &__info {
    border: 2px solid $sec;
    padding: 20px 20px 30px;
    position: relative;
    background-color: $blk;
    border-radius: 20px;
    font-size: 14px;
    line-height: 24px;

    p {
      margin: 0;
    }

    .counter {
      display: block;
      text-align: center;
      width: 28px;
      height: 28px;
      position: absolute;
      top: -15px;
      left: 70px;
      user-select: none;

      span {
        position: relative;
        z-index: 1;
        color: $drk;
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
        padding-top: 3px;
        display: block;
      }

      &:before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        transform: rotate(45deg);
        background-color: $sec;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
      }
    }
    .btn {
      position: absolute;
      bottom: -18px;
      right: 20px;
      border-radius: 18px;
    }

    .likes {
      display: flex;
      align-items: center;
      position: absolute;
      right: 20px;
      top: -18px;
      background-color: $drk;
      border: 2px solid $sec;
      padding: 4px;
      border-radius: 18px;
      user-select: none;
      text-decoration: none;
      color: $sec;
      transition: 0.15s ease-in-out;

      &:hover {
        color: $drk;
        background-color: $prm;
      }

      .icon {
        display: block;
        width: 24px;
        height: 24px;
        margin-right: 5px;
      }

      span {
        display: block;
        padding-right: 10px;
        font-size: 12px;
        font-weight: 700;
      }
    }
  }

  &__tags {
    margin-bottom: 10px;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        display: inline-block;
        line-height: 1;
        vertical-align: middle;
        margin-right: 5px;
        padding: 3px 0;
        &:last-child {
          margin-right: 0;
        }
      }
    }

    .tag {
      display: block;
      color: $drk;
      background-color: $sec;
      font-size: 12px;
      line-height: 14px;
      padding: 2px 8px;
      white-space: nowrap;
      font-weight: 700;
      border-radius: 9px;
    }
  }

  @include smallScreenDown {
    &__img {
      margin: 0 10px;
      width: 64px;
      height: 64px;
      border-width: 2px;
    }
    &__name {
      font-size: 18px;
      line-height: 1;
    }
    &__price {
      font-size: 13px;
      line-height: 16px;
    }

    &__info {
      border-radius: 0;
      margin: 0 -10px;
      border-left: 0;
      border-right: 0;
      font-size: 13px;
      line-height: 16px;

      .counter {
        left: 40px;
      }
    }
  }
}
